<div class="span6 offset4 ice-box text-center">
	<h1 class="awesome-sauce">Hello World</h1>
	<h2>
	This is Neel Hacking is fun on this snowy saturday
	</h2>
	<%= link_to 'launch', '#', :class => 'btn btn-warning' %>
</div>