<% @pics.each do | pic | %>
<div class="ice-box text-center span3 offset1">
  <h2>
   Title: <%= pic.title %>
    </h2>
  <h3>
   Message: <%= pic.message %>
    </h3>
  <h3>
   who: <%= pic.who %>
    </h3>
     
 </div>
  <% end %>
